.body__home {
    background-image: url(../img/background_home.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*     font-family: 'Raleway', sans-serif; */

/*-------------NAVBAR-------------*/

.navbar {
    display: flex;
    justify-content: flex-start;
}

.ul__navbar a {
    text-decoration: none;
    color: #070707; 
}

.list_navbar {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 400;
    list-style: none;
    display: inline-block;
    margin: 25px;
    transition: transform .2s;
}

#inputhide {
    display: none;
}

.list_navbar:hover {
    transform: scale(1.1);
}

.input__navbar {
    padding: 10px;
    background-color: rgba(7, 7, 7, 0.500);
    color: white;
    border: 0;
}

::placeholder {
    color: white;
}

.list_navbar img {
    vertical-align: middle;
    transition: transform .2s;
}

.list_navbar img:hover {
    transform: scale(1.1);
}

/*-------------FIRST BREAK NAVBAR __HOME-------------*/

@media (max-width: 1150px) {
    .list_navbar {
        font-size: 15px;
        margin: 5px;
    }

    .list_navbar img {
        width: 50px;
    }

    .input__navbar {
        width: 50%;
    }

    .ul__navbar {
        padding: 1px;
    }

}

/*-------------SECOND BREAK NAVBAR __HOME-------------*/

@media (max-width: 560px) {

    #inputhide {
        display: inline-block;
        background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
        background-size: 25%;
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
    }

    .input__navbar {
        display: none;
    }

    .list_navbar img {
        display: none;
    }

}

/*-------------THIRD BREAK NAVBAR __HOME-------------*/

@media (max-width: 380px) {
    #inputhide {
        display: none;
    }

    .navbar {
        justify-content: center;
    }


}

/*-------------NAVBAR FINAL __HOME-------------*/

/*-------------HEADER __HOME-------------*/

.header__home {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 876px;
    max-height: 420px;
    box-sizing: border-box;
    margin: auto;
}

.div__header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 200;
    color: #070707;
    text-align: right;
}

.div__header p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #070707;
    margin: 50px;
    text-align: center;
}

.div__header__imgs {
    display: flex;
    justify-content: center;
}

.list__header {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    transition: transform .2s;
    cursor: pointer;
}

.list__header:hover {
    transform: scale(1.1);
}

.ul__header {
    padding: 0;
    margin: 0;
}

/*-------------BREAK HEADER __HOME-------------*/

@media (max-width: 900px) {

    .div__header h1 {
        font-size: 40px;
    }

    .div__header p {
        font-size: 15px;
        margin: 25px;
    }
    
    .list__header img {
        width: 25px;
    }
}

/*-------------HEADER FINAL __HOME-------------*/

/*-------------__ABOUT ME-------------*/

.aboutme {
    background-color: ffffff;
}

.header__aboutme img {
    width: 100%;
}

/*-------------SECTION __ABOUT ME-------------*/

.ph__aboutme img {
    width: 100%;
}

.section__aboutme {
    display: flex;
    justify-content: center;
    margin: 100px;
    box-sizing: border-box;
}

.text__aboutme {
    width: 100%;
    max-width: 784px;
    max-height: 768px;
    margin-left: 5%;
}

.text__aboutme h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 200;
    color: #070707;
}

.text__aboutme p {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 200;
    color: #070707;
}

/*-------------FOOTER __ABOUT ME-------------*/

.footer__aboutme {
    display: flex;
    justify-content: center;
    
}

.list__aboutme {
    display: inline-block;
    margin: 25px;
    transition: transform .1s;
}

.list__aboutme img:hover {
    transform: scale(.9);
}

/*-------------FIRST BREAK FOOTER __ABOUTME-------------*/

@media (max-width: 1400px) {
    .text__aboutme h1 {
        font-size: 40px;
    }

    .text__aboutme p {
        font-size: 20px;
    }
}

/*-------------SECOND BREAK FOOTER __ABOUTME-------------*/

@media (max-width: 1025px) {
    .text__aboutme h1 {
        font-size: 30px;
    }

    .text__aboutme p {
        font-size: 15px;
    }

    .footer__aboutme {
        margin-top: 5%;
    }

    .section__aboutme {
        margin: 5%;
    }

}

/*-------------THIRD BREAK FOOTER __ABOUTME-------------*/

@media (max-width: 700px) {

    .section__aboutme {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }

    .list__aboutme img {
        width: 50%;
    }

    .list__aboutme {
        margin: 5px;
    }
}

/*-------------__BLOG-------------*/

.blog {
    background-color: ffffff;
}

/*-------------SECTION__BLOG-------------*/

/*-------------CONTAINER 1 & 2-------------*/


.containerbox1__blog {
    display: flex;
}


.containerbox1__blog {
    width: 100%;
    max-width: 1200px;
    max-height: 720px;
    margin: 100px auto;
}

.textbox__blog {

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}


.textbox__blog h1 {
    font-weight: normal;
    margin: 0 50px 50px 50px;
}

.p1__box {
    margin: 40px;
}

.imgbox__blog {
    width: 100%;
}

.textbox__blog img {
    margin-top: 34px;
}

.p2__box {
    font-size: 15px;
    margin-left: 50px;
}

.textbox__blog img {
    margin-left: 45%;
}

@media (max-width: 1100px) {
    .textbox__blog {
        font-size: 15px;
    }
    .textbox__blog img {
        width: 10%;
    }
}

@media (max-width: 850px) {
    .textbox__blog {
        font-size: 12px;
    }

    .imgbox__blog img {
    width: 350px;
    height: 350px;
    }

    .textbox__blog h1 {
        margin: 0 15px 15px 15px;
    }

    .p1__box {
        margin: 20px;
    } 

    .textbox__blog img {
        margin-top: 15px;
    }


}

@media (max-width: 650px) {
    .imgbox__blog img {
        width: 200px;
        height: 200px;
    }

    .p1__box {
        font-size: 10px;
    }
    .textbox__blog img {
        display: none;
    }

    .p2__box {
        font-size: 10px;
    }

    .section__blog {
        flex-direction: column;
    }

}

/*-------------_TEST-------------*/

.header__test {
    width: 100%;
}

.footer__test {
    width: 100%;
}

.boxes__test {
    display: flex;
    align-items: center;
}

.notes__test {
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #070707; 
    margin-left: 10%;
}

.text__test {
    font-family: 'Raleway', sans-serif;
    color: #070707;
    font-weight: 500;
    margin: 0 10%;
}

.text__test h1 {
    font-size: 48px;
    font-weight: 500;
}

.text__test p {
    font-size: 30px;
}

.boxes__test img {

    width: 50%;
    margin: 0 3%;
}

.boxes__test {
    max-width: 1555px;
    max-height: 554px;
    margin: 8%;
}

.section__test {
    margin: auto;
}

@media (max-width: 1500px)